node_modules/
backend/node_modules/
frontend/node_modules/
circuits/*.r1cs
circuits/*.sym
circuits/*_js/
circuits/*.zkey
circuits/verification_key.json
circuits/powersOfTau28_hez_final_*.ptau
target/
frontend/dist/
